{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% load static %}

{% block title %}ユーザー登録 | Foundamental{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <h1>カウンセラー登録</h1>
    </div>
    <div class="row">
        <form method="post" action="">
            {% csrf_token %}

            <div class="mb-4 col-4">
                {% bootstrap_form form %}
            </div>

            <input type="hidden" name="userType" value="CO"/>

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            <button class="btn btn-primary" type="submit">登録</button>
        </form>
    </div>
</div>
{% endblock %}