{% extends 'base.html' %}
{% load widget_tweaks %}

{% load static %}

{% block title %}予約 | Foundamental{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <form method="POST" action="{% url 'booking:make-booking' %}">
            {% csrf_token %}
            <p>この日程で予約しますか？</p>
            <div>
                {{ object.get_timerange }}
                <input type="hidden" name="pk" value="{{ schedule.pk }}" />
            </div>
            <button class="btn btn-primary" type="submit">予約</button>
            <a class="btn btn-secondary" href="{% url 'booking:booking' %}">キャンセル</a>
        </form>
    </div>
</div>
{% endblock %}