{% extends 'base.html' %}

{% load static %}

{% block title %}ユーザー登録 | Foundamental{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <h1>ユーザー登録</h1>
    </div>
    <div class="row">
        <ul>
            <li><a href="{% url 'accounts:counselor_signup' %}">カウンセラー</a></li>
            <li><a href="{% url 'accounts:entrepreneur_signup' %}">起業家</a></li>
            <li><a href="{% url 'accounts:admin_signup' %}">管理者</a></li>
        </ul>
    </div>
</div>
{% endblock %}