{% extends 'base.html' %}

{% load static %}

{% block title %}Survey | Foundamental{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <h1>Survey</h1>
    </div>
    <div class="row">
        <form method="post" action="">
            {% csrf_token %}

            <div class="mb-4 col-4">
                {{ form.as_table }}
            </div>

            <button class="btn btn-primary" type="submit">送信</button>
        </form>
    </div>
</div>
{% endblock %}